*{
    margin:0; 
    padding: 0;
    box-sizing: 0;
}

input:focus,button:focus{
    outline:0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif}

h2{
    font-size: 23px;
    padding: 10px 20px;
    color: aliceblue;
    background-color: grey;
}

#chat-wrap{
    max-width: 600px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-window{
    height: 400px;
    overflow-y: auto;
}

#output p{
    font-size: 15px;
    padding: 12px;

}

#output p:nth-child(even){
    background-color: blueviolet;
}

#feedback p{
    font-size: 13px;
    padding: 12px;
}

#output strong{
    color: black;
}

input{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 20px;
    border: 0;
    border-top: 1px solid gray;
    display: block;
    width: 100%;
    font-size: 15px;
}

button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: crimson;
    color: aliceblue;
    border: 0;
    border-radius: 0 0 5px 5px;
    width: 100%;
    padding: 12px 0px;
    font-size: 17px;
}